* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* nav */

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    
}
nav ul li {
    padding: 10px;
}
nav ul li a{
    color: black;
    text-decoration: none;

}
nav ul li a:hover{
    color: rgb(95, 95, 95);
    text-decoration: underline;
}

/* slider */

.slider .images img {
    width: 80%;
    height: 70vh;
    margin: auto;
}

.slider {
    position: relative;
}

.slider .buttons {
    position: absolute  ;
    top: 50%;
}

.laptops img, .phones img, .tablets img,.accessories img {
    height: 30vh;
    width: 10vw;
}

.phones,.tablets,.accessories {
   
    display: none;
    z-index: 0;
}

.cart{
    position: fixed;
}


/* footer */
footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    
}
footer ul li {
    padding: 10px;
}
footer ul li i{
    color: black;
    font-size: 25px;
    color: #0B5ED7;
    text-decoration: none;

}
footer ul li i:hover{
    color: rgb(89, 89, 89);
}

footer .nickname{
    /* color: ; */
    font-size: 10px;
    
}

footer i {
    color:#0B5ED7 ;
    /* position: fixed; */
    font-size: 50px;
}
